<h3>Bonjour {{ person.firstName }}</h3>

<p>Nous avons bien pris en compte votre inscription</p>

<p>Vous pouvez vous connecter dès a présent à cette <a href="{{ url('login') }}">page</a>.</p>

<p>Merci</p>